<div class="container">
    <div [hidden]="submitted"></div>
    <h1>Field Form</h1>
    <form (ngSubmit)="onSubmit()" #fieldForm="ngForm"></form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name"
            required
            [(ngModel)]="model.name" name="name"
            #name="ngModel">
            TODO: remove this: {{model.name}}
            <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            name is required
            </div>
        </div>

        <div class="form-group">
            <label for="size">Size</label>
            <input type="number" class="form-control" id="size"
            required
            [(ngModel)]="model.size" size="size"
            #size="ngModel">
            TODO: remove this: {{model.size}}
            <div [hidden]="size.valid || size.pristine" 
            class="alert alert-danger">
            size is required
            </div>
        </div>

        <div class="form-group">
            <label for="crop">Crop</label>
            <input type="text" class="form-control" id="crop"
            required
            [(ngModel)]="model.crop" crop="crop"
            #crop="ngModel">
            TODO: remove this: {{model.crop}}
            <div [hidden]="crop.valid || crop.pristine" 
            class="alert alert-danger">
            crop is required
            </div>
        </div>

        <div class="form-group">
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status"
            required
            [(ngModel)]="model.status" status="status"
            #status="ngModel">
            TODO: remove this: {{model.status}}
            <div [hidden]="status.valid || status.pristine" 
            class="alert alert-danger">
            status is required
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!fieldForm.form.valid">submit</button>
        

</div>