<h2>Fields</h2>
<ul>
    <li *ngFor="let field of fields">
        <a routerLink="/field-detail/{{field.id}}">
            <span class="badge"></span> {{field.name}}
        </a>
    </li>
</ul>

<div class="fieldForm">
    <div>
        <label for="name">Name: </label>
        <input type="text" [(ngModel)]="name">
    </div>
    <div>
        <label for="size">Size: </label>
        <input type="text" [(ngModel)]="size">
    </div>
    <div>
        <label for="crop">Crop: </label>
        <input type="text" [(ngModel)]="crop">
    </div>
    <button type="button" (click)="sendRequest()">Submit</button>
</div>
